@model Project.Models.UserFeedback
<!DOCTYPE html>
<html>
<head>
    <title>Delete Feedbacks</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Admission Enquiry Form web template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>




    <!-- //custom-theme -->


    @Styles.Render("~/Content/fdbk.css")



</head>
<body>
    @{
        ViewBag.Title = "Details";
        Layout = null;
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="content-w3ls">
            <h1 class="agile-head text-center">Feedbacks Details</h1>

            <div class="form-w3layouts">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name) :
                    </dt>

                    <dd>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.Name) <br />
                    </dd>
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.Teacher) :
                    </dt>

                    <dd>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Teacher) <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Comment) :
                    </dt>

                    <dd>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Comment) <br />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email) :
                    </dt>

                    <dd>
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.Email) <br />
                    </dd>

                </dl>
            </div>
           
                    <div>
                        <button class="btn edit">@Html.ActionLink("Edit", "Edit", new { id = Model.id }) </button>  &nbsp;&nbsp;
                        <button class="btn back" onclick="back()"> @Html.ActionLink("Back to List", "Index", new { style = "color: white" })</button>
                        <script>
                                      function back() {
                                          alert("Do you want to go back to the feedback list");

                                        }
                        </script>
                    </div>
                </div>
         
  
    }






</body>
</html>